name: CI with contracts run through command line

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: main
    - name: Set up JRE 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'
        java-package: 'jre'
    - name: Setup python
      uses: actions/setup-python@v4
      with:
          python-version: '3.8.15'
          cache: 'pip'
    - name: Run pip install
      working-directory: main
      run: pip install -r requirements.txt
    - name: Run contract as tests with Specmatic Python
      working-directory: main
      run: pytest test -v -s --junitxml contract-test-reports/TEST-junit-jupiter.xml
    - name: Publish contract test report
      uses: mikepenz/action-junit-report@v3
      if: always()
      with:
        report_paths: '**/contract-test-reports/TEST-*.xml'
